<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: Roboto, sans-serif;
      }
      .nav-link-container {
        display: flex;
        gap: 24px;
        list-style: none;
        padding: 0;
      }
      .nav-link-container a {
        text-decoration: none;
      }
    </style>
    {% block head_content %} {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-link-container">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/movie-list">Movies</a></li>
        </ul>
      </nav>
    </header>

    {% block content %} {% endblock %}

    <script src="script.js"></script>
  </body>
</html>
