{% extends "base.html" %} {% block head_content %}<!DOCTYPE html>

<style>
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    /* place-content: center; */

    font-family: Roboto, sans-serif;
  }

  .movie-spec {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .movie-summary {
    color: #7c6e6e;
  }

  .movie-container {
    /* background: orange; */
    padding: 24px;
    max-width: 800px;
  }
</style>
{% endblock %} {% block content %}
<section class="movie-detail-container">
  <iframe
    width="100%"
    height="800"
    src="{{movie.trailer}}"
    title="{{movie.name}}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <div class="movie-container">
    <div class="movie-spec">
      <h2 class="movie-name">{{movie.name}}</h2>
      <h2 class="movie-rating">⭐ {{movie.rating}}</h2>
    </div>
    <p class="movie-summary">{{movie.summary}}</p>
  </div>
</section>
{% endblock %}
