{% extends "base.html" %} {% block head_content %}

<style>
  .user-name {
    font-style: italic;
    font-weight: bold;
  }

  .user-pic {
    height: 225px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-container {
    text-align: center;
    margin-bottom: 32px;
  }
  .verified {
    color: oklch(0.623 0.214 259.815);
  }
</style>

{% endblock %} {% block content %} {% for user in users %}
<div class="user-container">
  <img class="user-pic" src="{{user.pic}}" alt="profile picture" />
  <p>
    Hello, <span class="user-name">{{user.name}}</span>
    {% if user.isVerified %}
    <span class="verified"><i class="fa-solid fa-circle-check"></i></span>
    {% endif %}
  </p>
</div>
{% endfor %} {% endblock %}
